# Database Configuration
DB_NAME=kopmasshop_db
DB_USER=postgres
DB_PASSWORD=password_postgres
DB_HOST=localhost
DB_PORT=5555

# Django Settings
SECRET_KEY=90_5ha8plt)nko@(a*n6nr5awml^g37=siv*kc_14kxzn(z6s5
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Email Configuration
# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
# EMAIL_HOST=localhost
# EMAIL_PORT=1025
# EMAIL_USE_TLS=False
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# DEFAULT_FROM_EMAIL=noreply@local.dev

# Email Configuration MailHog (local development via Docker)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=info@kopmasshop.com



# Media & Static
MEDIA_URL=/media/
STATIC_URL=/static/



# Google OAuth
GOOGLE_CLIENT_ID=972395070657-0g9i72vaia0i8undsp5olrdo9ukrf8c5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Site Configuration (used for OAuth callback URL)
# Contoh production: SITE_DOMAIN=kopmasshop.com  SITE_NAME=Kopmas Shop
SITE_DOMAIN=127.0.0.1:8000
SITE_NAME=Kopmas Shop

# Supplier API (untuk verifikasi seller + import produk seller)
# Public endpoint default:
# - /api/suppliers/public/check/
# - /api/suppliers/public/products/{supplier_id}/
SUPPLIER_API_URL=https://koperasi-umkm.privatedomain.site/
SUPPLIER_CHECK_PATH=/api/suppliers/public/check/
SUPPLIER_PRODUCTS_PATH=/api/suppliers/public/products/{supplier_id}/
SUPPLIER_API_KEY=WFpW4QvY5V3ctGH5Jb3zE5C7wCGWt8vS

# Seeder Superadmin (opsional untuk command: python manage.py seed_roles --with-superadmin)
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_EMAIL=superadmin@kopmasshop.com
SUPERADMIN_PASSWORD=@Admin2026

# Seeder Admin (opsional untuk command: python manage.py seed_roles --with-admin)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@kopmasshop.com
ADMIN_PASSWORD=@Admin2026

# Seeder command examples:
# python manage.py seed_roles
# python manage.py seed_roles --with-admin
# python manage.py seed_roles --with-superadmin
# python manage.py seed_roles --with-admin --with-superadmin

# Login Rate Limiting
LOGIN_RATE_LIMIT_MAX_ATTEMPTS=5
LOGIN_RATE_LIMIT_WINDOW_SECONDS=60

# Email OTP
EMAIL_OTP_EXPIRY_MINUTES=5
EMAIL_OTP_MAX_ATTEMPTS=3



